In [3]:
import pandas as pd
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
#Reading users file:
users = pd.read_csv('C:/Users/User/Desktop/Users.csv')

#Reading ratings file:
#r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('C:/Users/User/Desktop/ratings.csv')

#Reading items file:
#i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
#'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
#'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('C:/Users/User/Desktop/movies.csv')

In [6]:
users.head()

,Unnamed: 0,uid,fname,lname,pass,gender,age,occupation,zipcode,age_desc,occ_desc
0,0,1,John,Smith,A7FcZ8jP,F,1,10,48067,Under 18,K-12 student
1,1,2,William,Johnson,0RAM0tn9,M,56,16,70072,56+,self-employed
2,2,3,James,Williams,2ejGX4q9,M,25,15,55117,25-34,scientist
3,3,4,Charles,Brown,g4FhQopk,M,45,7,02460,45-49,executive/managerial
4,4,5,George,Jones,uwvvFj9M,M,25,20,55455,25-34,writer

In [14]:
ratings.head()
ratings.shape

(1048575, 4)

In [8]:
items.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
n_users = ratings.userId.unique().shape[0]
print(n_users)
n_items = ratings.movieId.unique().shape[0]
print(n_items)

7120
14026

In [13]:
data_matrix = np.zeros((n_users, n_items))
for line in ratings.itertuples():
    data_matrix[line[1]-1, line[2]-1] = line[3]

IndexError: index 31695 is out of bounds for axis 1 with size 14026