In [1]:
print("hello world!")

hello world!

In [ ]:
Q1. Write a Program to get 'n' number of input values and print the sum

In [91]:
a=int(input('Enter the number of values you want to enter'))
sum=0
for i in range(a):
    num=int(input('Enter numbers:'))
    sum=sum+num
print("Total sum is ",sum)

Enter the number of values you want to enter5
Enter numbers:2
Enter numbers:4
Enter numbers:6
Enter numbers:8
Enter numbers:10
Total sum is  30

In [ ]:
Q3. Area of the triangle

In [13]:
base=int(input('Enter the value of base of triangle :'))
height=int(input('Enter the height of traingle :'))
area=(base*height)/2
print("The area of traingle is ",area)

Enter the value of base of triangle :15
Enter the height of traingle :12
The area of traingle is  90.0

In [ ]:
Q4. Swap two variables

In [22]:
first=int(input('Enter First number:'))
second=int(input('Enter Second number:'))
print("The numbers before swapping are %s and %s "%(first,second))
temp=first
first=second
second=temp
print("The numbers after swapping are %s and %s "%(first,second))

Enter First number:12
Enter Second number24
The numbers before swapping are 12 and 24
The numbers after swapping are 24 and 12

In [ ]:
Q10. Calculate Factorial

In [21]:
num=int(input('Enter the number:'))
fact=1
for i in range (1,num+1):
    fact=fact*i
print("The factorial of %d is %d "%(num,fact))

Enter the number:6
The factorial of 6 is 720

In [ ]:
Q2. Check if number is prime or not

In [28]:
num=int(input('Enter the number:'))
flag=0;
for i in range(2,num//2):
    if(num%i==0):
        flag=1;
    else:
        continue
if(flag==0):print("Prime number")
else:print("Not Prime")

Enter the number:34
Not Prime

In [ ]:
Q9. Number is odd or even

In [35]:
num=int(input("Enter the number:"))
if(num%2==0):
    print("Number is even")
else:
    print("Number is odd")

Enter the number:6
Number is even

In [ ]:
Q12. Print Fibonacci Series

In [77]:
num=int(input("Enter till where you want to print fibonacci series :"))
a=0
b=1
print("0,1",end=',')
for i in range(2,num+1):
    sum=a+b
    a=b
    b=sum
    print(sum,end=',')

Enter till where you want to print fibonacci series :11
0,1,1,2,3,5,8,13,21,34,55,89,

In [ ]:
Q8. check number is positive,negative or zero

In [43]:
num=int(input("Enter the number: "))
if(num>0):print("Positive number")
elif(num<0):print("Negative number")
else:print("Zero is Entered")

Enter the number: 0
Zero is Entered

In [ ]:
Q6. Leap Year Program

In [54]:
year=int(input("Enter the year you wish to check: "))
if((year%400==0)or((year%4==0) and (year%100!=0))):
    print("Leap Year")
else:
    print("Not a leap Year")

Enter the year you wish to check: 1600
Leap Year

In [ ]:
Q13. Largest And Smallest of three numbers

In [65]:
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
c=int(input("Enter the third number: "))
if(a>b) and (a>c):
    print("Largest value is ",a)
elif(b>c):
    print("Largest value is ",b)
else:
    print("Largest value is ",c)
if(a<b) and (a<c):
    print("Smallest value is ",a)
elif(b<c):
    print("Smallest value is ",b)
else:
    print("Smallest value is ",c)

Enter the first number: 10
Enter the second number: 14
Enter the third number: 21
Largest value is  21
Smallest value is  10

In [ ]:
Q11. print multiplication table

In [69]:
num=int(input("Enter the number for which you want the multiplication table: "))
result=0
for i in range(1,11):
    res=num*i
    print("%d * %d = %d"%(num,i,res))

Enter the number for which you want the multiplication table: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
Q7. Calculator

In [13]:
num1=int(input('Enter the first number'))
num2=int(input('Enter the second number'))
def add(num1,num2):
    res=num1+num2;
    print("The value is ",res)
def sub(num1,num2):
    res=num1-num2;
    print("The value is ",res)
def mul(num1,num2):
    res=num1*num2;
    print("The value is ",res)
def div(num1,num2):
    res=num1/num2;
    print("The value is ",res)

print("1.Addition 2.Subtraction 3.Multiplication 4.Division")
ch=int(input("Enter your choice :"))
if(ch==1):
    add(num1,num2)
elif(ch==2):
    sub(num1,num2)
elif(ch==3):
    mul(num1,num2)
elif(ch==4):
    div(num1,num2)

Enter the first number4
Enter the second number2
1.Addition 2.Subtraction 3.Multiplication 4.Division
Enter your choice :4
The value is  2.0

In [ ]:
Q14. Perform the conversion

In [ ]:
Q14.A. Km to miles and vice versa

In [84]:
num=int(input("Enter the value :"))
def km2mi(num):
    res=num*0.62
    print("The value is ",res)
def mi2km(num):
    res=num/0.62
    print("The value is ",res)
print("1.Kilometres to Miles")
print("2.Miles to Kilometres")
ch=int(input("Enter your choice:"))
if(ch==1):km2mi(num)
else:mi2km(num)

Enter the value :5
1.Kilometres to Miles
2.Miles to Kilometres
Enter your choice:2
The value is  8.064516129032258

In [ ]:
Q14.B. Celcius to farhenheit and vice cersa

In [87]:
num=int(input("Enter the value :"))
def cl2far(num):
    res=(num*9/5)+32
    print("The value is ",res)
def far2cl(num):
    res=(num-32)*5/9
    print("The value is ",res)
print("1.Celsius to Fahreinheit")
print("2.Fahreinheit to Celsius")
ch=int(input("Enter your choice:"))
if(ch==1):cl2far(num)
else:far2cl(num)

Enter the value :5
1.Celsius to Fahreinheit
2.Fahreinheit to Celsius
Enter your choice:2
The value is  -15.0

In [ ]:
Q14.C. Decimal to Binary octal to hexadecimal

In [8]:
num=int(input("Enter the value :"))
def dec2bin(num):
    print("The binary value is ",bin(num))
def oct2hex(num):
    print("The binary value is ",hex(num))
print("1.Decimal to binary")
print("2. Octal to Hexadecimal")
ch=int(input("Enter the choice :"))
if(ch==1):dec2bin(num)
if(ch==2):oct2hex(num)

Enter the value :1
1.Decimal to binary
2. Octal to Hexadecimal
Enter the choice :1
The binary value is  0b1

In [ ]:
Q.5. Solve quadratic Equation

In [19]:
import math
a=int(input("Enter the value of a :"))
b=int(input("Enter the value of b :"))
c=int(input("Enter the value of c :"))
d=(b*b)-(4*a*c)
res1=(-b+math.sqrt(d))/(2*a)
res2=(-b-math.sqrt(d))/(2*a)
print("Answer of the given quadratic equation are ",res1,res2)

Enter the value of a :2
Enter the value of b :9
Enter the value of c :2
Answer of the given quadratic equation are  -0.23443556292536272 -4.265564437074637